# build output
dist/
# generated types
.astro/
# dependencies
node_modules/
# cache npm local (usado por el entorno)
.npm-cache/
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# environment variables
.env
.env.production
# macOS
.DS_Store
